.user-button.ui.button
	img(src='/images/user/007.jpg')
.user-ops-popup.ui.flowing.popup.top.left.transition.hidden
	.divider.border-top
		a(href='') User007
			.label	View Profile
	.divider.border-top
		a(href='') Settings
		a(href='') Log out