.info-center
	.title 
		h2 邮轮小秘书
	.service-menu
		a.item(data-index=1) 新手入门
		a.item(data-index=2) 邮轮体验
		a.item(data-index=3) 邮轮介绍
		a.item(data-index=4) 出行准备
		a.item(data-index=5) 港口介绍
		a.item(data-index=6) 常见问题
	.info-content-container
		.info-content-list
			.info-content.get-started
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
			.info-content.cruise-exprience
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
			.info-content.cruise-intro
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
			.info-content.travel-prep
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
			.info-content.harbour-intro
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
			.info-content.common-qs
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title
				.item-container
					a.item(href="#")
						.img-container
							img(src="https://placem.at/places?h=100&amp;random="+Math.random())
						.title-container
							label.title content title content title